<h1>Try again...</h1>

<span>
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="username">
  <label for="password">Password</label>
  <input type="text" name="password" placeholder="password">
  <div class="form__submit-button">
      <input type="submit">
  </div>
</span>
